*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --profile-color: #0084ff;
    --background-color: #eeeeee;
    --dashboard-menu-header: #fff;
}

html{
    box-sizing: inherit;
    font-size: 62.5%;
}

body{
    font-size: 1.4rem;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--background-color);
}

.no-scroll{
    overflow: hidden;
}

.dashboard-content{
    padding: 1rem 0 2rem 0;
}

.dashboard__heading{
    padding: 0 15% 0 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--profile-color);
    height: 8rem;
}

.dashboard__logo{
    color: var(--dashboard-menu-header);
    font-size: 2.4rem;
}

.dashboard__profile{
    width: 100%;
    height: 0;
    display: flex;
    position: fixed;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
    gap: 1rem;
    background-color: var(--profile-color);
    transition-duration: 0.8s;
    color: white;
}

.dashboard__profile__menu{
    padding-top: 5rem;
    list-style: none;
}

.dashboard__profile__menu__item, .dashboard__profile__menu__item__link{
    color: var(--dashboard-menu-header);
    font-size: 2.4rem;
    margin-bottom: 2rem;
    text-decoration: none;
}

.visible{
    height: 100vh;
    transition-duration: 0.8s;
}

.dashboard__profile__heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard__profile__picture{
    padding-top: 1rem;
}

.dashboard__profile__picture > img{
    border-radius: 50%;
    width: 50%;
    height: auto;
    margin-left: 25%;
}

.grocery-heading, .storage-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.grocery-heading-grid, .grocery-info, .storage-heading-grid, .storage-info {
    display: flex;
    justify-content: space-between;
    margin: 0 5vw;
}

.grocery-info, .storage-info {
    padding-bottom: 1.5rem;
}

.product-user-heading-product > p, .product-user-heading-user > p, .storage-user-heading-product > p, .storage-user-heading-user > p {
    font-weight: 700;
    margin-bottom: 2rem;
}




/* Menu Icon */
.dashboard__menu-icon {
    display: inline-block;
    cursor: pointer;
    z-index: 1;
}
  
.top, .middle, .bottom {
    width: 3.5rem;
    height: 0.5rem;
    background-color: var(--dashboard-menu-header);
    margin: 0.6rem 0;
    transition: 0.5s;
  }
  
  /* Rotate first bar */
.change .top {
    -webkit-transform: rotate(-45deg) translate(-0.8rem, 0.7rem) ;
    transform: rotate(-45deg) translate(-0.8rem, 0.7rem) ;
  }
  
  /* Fade out the second bar */
.change .middle {
    opacity: 0;
  }
  
  /* Rotate last bar */
.change .bottom {
    -webkit-transform: rotate(45deg) translate(-0.8rem, -0.8rem) ;
    transform: rotate(45deg) translate(-0.8rem, -0.8rem) ;
  }

/* Utility Classes */

.u-text-big{
    font-weight: 700;
    font-size: 3rem;
}

.u-z-1{
    z-index: 1;
}

.u-z-2{
    z-index: 2;
}

.u-pos-abs{
    position: absolute;
    z-index: 0;
}

/* Responsive Querries */
@media (min-width: 70rem){
    .profile-dashboard{
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(12, minmax(0,1fr));
        grid-template-rows: repeat(12, minmax(0,1fr));
        /* overflow-y: hidden; */
    }

    .grocery-heading, .storage-heading {
        grid-column: 7 / span 2;
        display: inline-block;
    }

    .grocery-heading-grid, .storage-heading-grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(0,1fr));
        grid-column: 4 / span 8;
        margin: 0;
    }

    .product-user-heading-product {
        font-weight: 700;
        grid-column: span 1;
        margin: 3.5rem auto;
    }

    .product-user-heading-user {
        margin-top: 4.5rem;
        font-weight: 700;
        grid-column: 4 / span 1;
        margin: 3.5rem auto;
    }

    .grocery-info, .storage-info {
        display: grid;
        grid-template-columns: repeat(4, minmax(0,1fr));
        grid-column: 4 / span 8;
        margin: 0;
        padding: 0;
    }

    .grocery-info-product, .storage-info-product {
        grid-column: span 1;
        margin: 1.5rem auto;
        padding-top: 1.5rem;
    }

    .grocery-info-user, .storage-info-user {
        grid-column: 4 / span 1;
        margin: 1.5rem auto;
        padding-top: 1.5rem;
    }

    .dashboard{
        grid-column: span 2;
        grid-row: span 12;
        width: 100%;
        height: 100%;
    }

    .dashboard__logo{
        font-size: 3rem;
    }
    
    .dashboard__profile{
        height: 100%;
        position: relative;
    }

    .dashboard__profile__menu__item, .dashboard__profile__menu__item__link{
        color: var(--dashboard-menu-header);
        font-size: 1.8rem;
    }

    .dashboard__menu-icon{
        display: none;
    }
}