*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    box-sizing: inherit;
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
    padding: 3rem;
    background-color: #EEEEEE;
    font-family: sans-serif;
}

.invoerVeld{
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 0.6rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid #0084FF;
    box-sizing: border-box;
    margin-bottom: 4rem;
}

.invoerVeld__h1{
    font-size: 2.4rem;
    font-weight: 400;
}

.invoerVeld__text_input{
    background-color: #FFFFFF;
    border: 2px solid #0084FF;
    box-sizing: border-box;
    border-radius: 0.6rem;
    height: 4rem;
    width: 100%;
    max-width: 49rem;
    padding: 0 2rem;
    font-size: 100%;
}

.invoerVeld__button{
    background: #0084FF;
    border-radius: 6px;
    width: 19.5rem;
    height: 4rem;
    color: #FFFFFF;
    font-size: 100%;
    border: none;
    font-weight: 400;
    transition: 0.3s all;
}

.invoerVeld__button:hover{
    border-radius: 10rem;
    background-color: #89C6FF;
    cursor: pointer;
    color: #000000;
}

.bakken_card{
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 0.6rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #0084FF;
    box-sizing: border-box;
    margin-top: 4rem;
}

.bakken_card__fig{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1rem;
}

.bakken_card__img{
    width: 50%;
}

.bakken_volCard{
    padding: 2rem;
    border-radius: 0.6rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    margin-top: 1rem;
    text-align: center;
}

/* utility classes */
.u-back-grey{
    background-color: #7393A7;
    border: none;
}

.u-back-orange{
    background-color: #F08A5D;
    border: none;
}

.u-back-green{
    background-color: #7FCD91;
    border: none;
}