* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root{
    /* --c- : color variables */
    /* For -light mode */
    --c-light-main-bg: #EEEEEE;
    --c-light-alt-bg: #FFFFFF;
    --c-light-text: black;

    /* For -dark mode */
    --c-dark-main-bg: #7C7D7E;
    --c-dark-alt-bg: #41444B;
    --c-dark-text: #EEEEEE;
    --c-dark-alt-text: #ffffff;

    /* Main accents */
    --c-main-accent: #0084FF;
    --c-alt-accent: #89C6FF;

    /* Utility accents */
    --c-green: #7FCD91;
    --c-red: #F05454;
    --c-blue: #7393A7;
    --c-yellow: #FFDD67;
}

body{
    font-size: 1.8rem;
    min-height: 100vh;
    width: 100%;
    background: var(--c-light-main-bg);
    font-family: 'Montserrat', sans-serif;
}

header{
    font-family: 'Poppins', sans-serif;
}

/* Styling for the general v0.1 '/index' home page idea.*/

.index__header{
    top: 0;
    font-size: 140%;
    width: 100%;
    height: 20vh;
}

.index__main{
    position: relative;
    top: -15vh;
    height: 100vh;
    width: 95%;
    margin: 0 auto;
}

.index__nav{

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: fit-content;
    width: 100%;
    color: var(--c-light-text);
}

.index__card{
    height: 70%;
    width: 25%;
    min-width: 20%;
    min-height: 25rem;
    text-decoration: none;
    background: var(--c-light-alt-bg);
    color: var(--c-light-text);
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 0.5rem 2rem 2rem var(--c-dark-bg);
    transition: 0.3s all;
}


.index__card:hover{
    background: var(--c-light-alt-bg);
    border: 2rem;
    
    box-shadow: 0.9rem 3rem 2rem var(--c-dark-bg);
    border: 0.4rem solid var(--c-main-accent);  
}

.index__card:hover > .index__image{
    height: 100%;
    width: 100%;

} 

.index__figure{
    height: 80%;
    width: 80%;
    margin: 0 auto;
}

.index__image{
    height: 80%;
    width: 80%;
    object-fit: scale-down;
}

.index__label{
    display: block;
    font-size: 3rem;
    height: 20%;
    width: 100%;
}

/* Utility classes */

.u-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}