*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --profile-color: #0084ff;
    --background-color: #eeeeee;
    --dashboard-menu-header: #fff;
}

html{
    box-sizing: inherit;
    font-size: 62.5%;
}

body{
    font-size: 1.4rem;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--background-color);
}

.no-scroll {
    overflow: hidden;
}

.dashboard-content {
    padding: 1rem 0 2rem 0;
}

.navigation {
    height: 6rem;
    display: flex;
    justify-content: flex-end;
    background-color: var(--profile-color);
}

.home-logo{
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem 0 0 2rem;
    font-size: 3rem;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.navigation__menu {
    width: 100%;
    height: 0;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
    gap: 1rem;
    background-color: var(--profile-color);
    transition-duration: 0.8s;
    color: white;
}

.visible{
    height: 100vh;
    transition-duration: 0.8s;
}

.navigation__menu__item{
    list-style: none;
}

.navigation__menu__link{
    font-size: 2.4rem;
    color: white;
}

.dashboard__profile__heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard__profile__picture{
    padding-top: 1rem;
}

.dashboard__profile__picture > img{
    border-radius: 50%;
    width: 50%;
    height: auto;
    margin-left: 25%;
}

.grocery-heading, .storage-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    flex-direction: column;
}

.grocery-heading-grid, .grocery-info, .storage-heading-grid, .storage-info {
    display: flex;
    justify-content: space-around;
    margin: 0 5vw;
}

.storage-none-yet, .grocery-none-yet {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.storage-none-yet__p, .grocery-none-yet__p {
    font-size: 1.8rem;
}

.storage-scroller, .grocery-scroller {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
}

.grocery-info, .storage-info {
    box-shadow: 0 0.01rem 0.8rem black;
    border: 0.1rem solid var(--profile-color);
    border-radius: 0.6rem ;
    font-size: 1.6rem;
    padding: 1.2rem 0.8rem 1.5rem 0.8rem;
}

.product-user-heading-product > p, .product-user-heading-user > p, .storage-user-heading-product > p, .storage-user-heading-user > p {
    font-weight: 700;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

.product-user-heading-user > p {
    margin-right: 1.25rem;
}

.test {
    color: #eeeeee;
}

.create-form {
    width: 35rem;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    background-color: white;
    border-radius: .5rem;
    padding: 4rem 3rem 2rem 3rem;
    margin-top: 2rem;
    
}

.create-form__label {
    font-size: 1.6rem;
    font-weight: 600;

}

.create-form__input {
    position: relative;
	display: block;
	border: .1rem solid #d1d5db;
	border-bottom: .2rem solid #d1d5db;
	box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	border-radius: 0.375rem;
	padding: 1.25rem 1.5rem;
    margin: 1.5rem auto 2rem auto;
	font-size: 2rem;
	transition: .25s all;
}

.create-form__btnSection {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-form__button {
    padding: 1rem 1.5rem;
    margin-top: 4rem;
    background-color: var(--profile-color);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 0.6rem;
}

.create-form__delButton, .grocery__delButton {
    background-color: #F05454;
    padding: 0.5rem 0.75rem;
    margin: 1rem 1rem 0 0;
    color: white;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 0.6rem;
}

.create-form__delButton {
    margin: 0 !important;
}

.storage-info-user, .storage-info-product {
    padding-top: 0.5rem;
}

/* Menu Icon */
.navigation-icon {
    display: inline-block;
    cursor: pointer;
    z-index: 1;
    margin: 1rem 2rem 0rem 0rem;
}
  
.top, .middle, .bottom {
    width: 3.5rem;
    height: 0.5rem;
    background-color: var(--dashboard-menu-header);
    margin: 0.6rem 0;
    transition: 0.5s;
}

.u-z-3{
    z-index: 3;
}

.u-active_link{
    text-decoration: underline;
}
  
  /* Rotate first bar */
.change .top {
    -webkit-transform: rotate(-45deg) translate(-0.8rem, 0.7rem) ;
    transform: rotate(-45deg) translate(-0.8rem, 0.7rem) ;
  }
  
  /* Fade out the second bar */
.change .middle {
    opacity: 0;
  }
  
  /* Rotate last bar */
.change .bottom {
    -webkit-transform: rotate(45deg) translate(-0.8rem, -0.8rem) ;
    transform: rotate(45deg) translate(-0.8rem, -0.8rem) ;
  }

/* Utility Classes */

.u-text-big{
    font-weight: 700;
    font-size: 3rem;
}

.u-z-1{
    z-index: 1;
}

.u-z-2{
    z-index: 2;
}

.u-pos-abs{
    position: absolute;
    z-index: 0;
}

/* Responsive Querries */
@media (min-width: 1030px){
    .profile-dashboard{
        height: 100%;
        width: 100%;
        /* display: grid;
        grid-template-columns: repeat(14, minmax(0,1fr)); */
        overflow-y: hidden;
    }

    .home-logo{
        margin: 2rem 0 0 2rem;
    }

    .navigation-icon{
        display: none;
    }

    .navigation__menu{
        height: 100%;
        flex-direction: row;
        display: flex;
        position: relative;
        margin-bottom: 0.5rem;
        justify-content: flex-end;
    }

    .navigation{
        padding: 1rem 5vw 1rem 5vw;
        display: block;
        height: 8rem;
    }

    .navigation__menu__link{
        font-size: 2.4rem;
    }

    .navigation__menu__link:hover {
        border-bottom: 0.2rem solid white;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90vh;
        padding-top: 5rem;
    }

    .grocery-heading, .storage-heading {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 40%;
    }

    .grocery-heading-grid, .storage-heading-grid {
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
        margin: 0 10%;
    }

    .grocery, .storage {
        height: 50%;
    }

    .product-user-heading-product {
        font-weight: 700;
        margin: 3.5rem auto;
    }

    .product-user-heading-user {
        margin-top: 4.5rem;
        font-weight: 700;
        margin: 3.5rem auto;
    }
    
    .grocery-scroller, .storage-scroller {
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 1rem;
        padding-bottom: 12rem;
    }

    .grocery-info, .storage-info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
        margin: 0 10%;
        padding: 0;
    }

    .grocery-info-product, .storage-info-product {
        margin: 1.5rem 0 1.5rem 7.5%;
    }

    .grocery-info-user {
        margin: 1.5rem 10% 1.5rem 22.5%;
    }

    .storage-info-user {
        margin: 1.5rem 22.5% 1.5rem 22.5%;
    }

    .storage-delete {
        margin-right: 7.5%;
    }

    .product-user-heading-product {
        padding-right: 4rem;
    }

    .product-user-heading-user {
        padding-right: 2rem;
    }

    .create-form__delButton {
        margin: 1rem 80% 0 0 !important;
    }
}